<body dir="rtl">
 
<h1 style="text-align: center;">
    متجر السعادة أونلاين
</h1>
<h5  style="text-align: center;">
    {{count}} منتج  

</h5>
<!-- <input  type="button" (onclick)="refresh()" value="refresh" > -->
<!-- src/app/product-grid/product-grid.component.html -->
<div class="product-grid">
	<div class="product-card" *ngFor="let product of products">
	  <img [src]="product.photoUrl" alt="{{ product.nameProduct }} photo">
	  <h3>{{ product.nameProduct }}</h3>
	  <p>
		<span class="color-circle" [style.background-color]="product.color"></span>
		  Color: {{ product.color }}  <p>Price: ${{ product.price | number:'1.2-2' }}</p>
	</div>
  </div>
  

<!-- <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p> -->
<!-- 
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Color</th>

			<th scope="col">Price</th>
			<th scope="col">Catogery</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img
					[src]="product.photoUrl"
					class="me-2"
					style="width: 50px"
				/>
				{{ product.nameProduct }}
			</td>
			<td>{{ product.color }}</td>

			<td>{{ product.price  }}$</td>
			<td>{{ product.catogery }}</td>
			
		</tr>
	</tbody>
</table> -->
</body>
